node_modules/
**/.dist/
**/secrets/**/decrypted
**/charts/magically/secrets
.DS_Store
.vscode
lerna-debug.log
**/db
.env

# Yarn 2.0
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
